header{
    padding: 2em 4em;
    background: hwb(246 15% 64% / 0.87);
    position: fixed;
    top: 0;
    width: 100%;
    left: 0;
    z-index: 100;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.155);

}

header nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: white;
}
.logo-title{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    color: white;
}

.nav-options-container{
    display: flex;
    align-items: center;
    gap: 1.5em;

}


.nav-option{
    font-size: 1.25rem;
    text-decoration: none;
    color: white;
}
.nav-option-icon{
    color: var(--light-blue);
}
 
.nav-option-container{
    display: flex;
    align-items: center;
    gap: 0.65em;
    cursor: pointer;
    padding: 1em 0;
}

.nav-option-container:hover .nav-option,
.nav-option-container:focus .nav-option{
    color: var(--light-blue);
}

.nav-option-container:hover .nav-option-icon,
.nav-option-container:focus .nav-option-icon{
    color: white;
}

.active-nav-option{
    color: var(--light-blue);
}

.active-nav-icon{
    color: white;
}
.profile-icon{
    font-size: 3rem !important;
    cursor: pointer;
    color: white;
}

.nav-user{
    text-decoration: none;
    font-size: 1.2rem;
}

.login-back{
   
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1em;
    background-image: url('../../Assets/sign.jpg');
    background-color: rgba(0, 0, 0, 0.638);
    background-size: cover;
    background-blend-mode: overlay;
}

.log-back-in-text{
    color: white;
    font-size: 4rem;
    
    
}
.login-btn{
    height: 50px;
    width: 170px;
    color: white;
    background-color: #89c3dc;
    font-size: 1.5rem;
}

.mobile-cms-nav{
    display: none;
}

.cms-mobile-menu-close-icon-container{
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    flex-shrink: 0;
    align-self: center;
}

@media (max-width:1000px) {
    .desktop-nav{
        display: none;
    }
    header{
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: .5em 1em;
    }

    .mobile-cms-nav{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
      
    }

    .mobile-nav-inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

   
   

    @keyframes slideIn {
        from{
            left: -100%;
        }

        to{
            left: 0;
        }
        
    }

    @keyframes slideOut {
         from{
            left: 0;
        }

        to{
            left: -100%;
        }
    }
    

    .mobile-menu{
        height: 100vh;
        display: flex;
        flex-direction: column;
        background-color: white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        padding: 0;
        box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.438);
        gap: 2em;
        padding: 1em 0;
        animation-duration: 1s;
        animation-timing-function: ease-in-out;
        animation-fill-mode: forwards;
        align-items: center;
        
    }

    .mobile-menu .nav-options-container{
        display: flex;
        flex-direction: column;
        align-items: baseline;
        gap: .5em;
        padding: 0 1em;
       
    }

    .mobile-menu .nav-option-container{
        padding: 0.3em .7em;
        width: 100%;
        font-size: 1rem;
        color: black;
    }
    .nav-option{
        color: black;
    }

    .nav-option-container:hover,
    .nav-option-container:focus{
        transition: ease .5s;
        background-color: var(--smooth-blue);
    }

    .nav-option-container:hover .nav-option,
    .nav-option-container:focus .nav-option{
        color: var(--light-blue);
    }

    .nav-option-container:hover .nav-option-icon,
    .nav-option-container:focus .nav-option-icon{
        color: black;
    }


    .close-icon{
        margin-bottom: .5em;
        font-size: 2rem !important;
        cursor: pointer;
    }

    .menu-icon:hover,
    .menu-icon:focus{
        color: var(--light-blue) !important;
        transition: ease .5s;
        cursor: pointer;
    }

    .close-icon:hover,
    .close-icon:focus{
        color: rgb(222, 163, 163);
        transition: ease 0.5s;
    }
    
    .menu-icon{
        color: white !important;
    }

    .nav-option-icon{
        font-size: 2.3rem !important;
    }

    
}

@media (max-width:600px) {
    .logo-container h1{
        font-size: 1.5rem !important;
    }
    .logo-container p{
        font-size: 1rem;
    }
    .nav-user{
        font-size: 1.2rem;
    }

 

    
}

@media (max-height:600px){
    
    .mobile-menu{
        height: 100vh;
        overflow-x: auto !important;
        gap: 2em;
    }

    

}